.categories-checkbox-wrapper,
.categories-checkbox-wrapper-mobile {
  .checkbox-item {
    display: flex;

    .radioButton {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      margin-right: 1rem;
    }

    .radioButton-opened {
      background: url("../images/radioButton-opened.png") center no-repeat;
    }

    .radioButton-closed {
      background: url("../images/radioButton-closed.png") center no-repeat;
    }

    .body-1,
    .body3 {
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  .subCategories-item {
    margin-left: 30px;
  }

  .subCategories-item-mobile {
    max-width: 300px;
  }

  .subCategories-item-margin {
    margin-left: 90px;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid $purple;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-checked {
  width: 1rem;
  height: 1rem;
  border: 2px solid $purple;
  border-radius: 4px;
  cursor: pointer;
  background: url("../images/checkbox-checked.png") center no-repeat;
}

.checkbox-item {
  margin-bottom: 22px;
}

.categories-checkbox-wrapper-mobile {
  max-width: 350px;
}

.categories-checkbox-wrapper {
  width: 485px;
}
