.create-task-page-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 156px;
  padding-bottom: 188px;

  h4 {
    margin-top: 48px;
  }

  .btn-purple-filled {
    width: 200px;
    height: 50px;
  }
}

.create-task-task-name {
  margin: 48px 0;
  display: flex;
  flex-direction: column;

  input {
    width: 640px;
    height: 52px;
    margin-top: 24px;
  }
}

.category-input-wrapper {
  width: 640px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  div {
    input {
      width: 264px;
      height: 52px;
      margin-top: 24px;
    }
  }
}

.create-task-checkbox-wrapper-first {
  margin-top: 24px;
  margin-bottom: 12px;
}

.create-task-checkbox-wrapper {
  display: flex;

  .create-task-checkbox-label {
    margin-left: 12px;
    cursor: pointer;
  }
}

.create-task-address-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.create-task-address-input {
  margin-top: 24px;
  width: 640px;
  height: 52px;
}

.create-task-location-icon {
  position: absolute;
  bottom: 15%;
  right: 3%;
}

.create-task-date-inputs-wrapper {
  margin-top: 48px;

  input {
    height: 58px;
    margin-top: 24px;
    width: 275px;
  }
}

.create-task-date-inputs-wrapper {
  display: flex;
}

.create-task-date-to-input-wrapper {
  margin-left: 32.5px;
}

.create-task-budget-input-wrapper {
  margin-top: 48px;

  input {
    margin-top: 24px;
    width: 640px;
  }
}

.create-task-task-description-wrapper {
  margin-top: 48px;

  textarea {
    margin-top: 24px;
    padding-top: 16px;
    width: 640px;
  }
}

.upload-image-button {
  width: 140px;
  margin: 28px 0 48px 0;
}
