.click-on-task-modal-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}

.modal-task-reviews-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0 36px;
  }

  :first-child,
  :last-child {
    border: none;
  }
}

.modal-task-info-wrapper {
  display: flex;
  margin-top: 41px;
}

.modal-orderer-picture {
  width: 178px;
  height: 178px;
}

.modal-task-info-wrapper-inner {
  margin-left: 51px;

  p {
    margin-bottom: 20px;
  }
}

.modal-task-orderer-name {
  margin-top: 25px;
  margin-bottom: 12px;
}

.modal-task-description {
  width: 460px;
}

.comment-input-wrapper {
  margin-top: 26px;
}

.modal-task-comment-input {
  width: 461px;
  height: 80px;
}

.budget-input-wrapper {
  margin-top: 46px;
}

.modal-budget-info {
  width: 461px;
  padding-bottom: 8px;
  border-bottom: 1px solid $black;
}

.total-cost-wrapper {
  width: 475px;
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.total-cost-description {
  margin-top: 7px;
  margin-bottom: 46px;
}

.modal-task-click-button {
  width: 171px;
  height: 50px;
}
