.footer-container-wrapper {
  width: 100%;
  height: 27rem;
  background-color: $purple;

  .footer-subCategories-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-subCategories {
    width: 950px;
    display: flex;
    justify-content: space-between;
  }

  .subCategories-item {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    .shop-logo {
      margin-top: 2rem;
    }
  }

  .logo-btn {
    width: 10rem;
    height: 1rem;
    background: url("../images/logo-white.png") center no-repeat;
    cursor: pointer;
  }

  .from-app-store {
    width: 10.7rem;
    height: 2rem;
    background: url("../images/download-from-app-store.png") center no-repeat;
    cursor: pointer;
  }

  .from-google-play {
    width: 11.5rem;
    height: 2rem;
    background: url("../images/download-from-google-play.png") center no-repeat;
    cursor: pointer;
  }

  .from-huawei-store {
    width: 11.8rem;
    height: 2rem;
    background: url("../images/download-from-huawei-store.png") center no-repeat;
    cursor: pointer;
  }

  .for-workers-container-wrapper {
    padding: 1rem 0 0 0;
  }
  .body2,
  .body3 {
    color: $white;
  }

  .body3 {
    margin-top: 2rem;
    cursor: pointer;
  }
  .telegram-logo-wrapper {
    width: 33%;
    margin-right: 1rem;

    .telegram-logo {
      height: 2rem;
      background: url("../images/telegram-icon.png") center no-repeat;
      cursor: pointer;
    }
  }

  .bottom-logo {
    width: 33%;

    display: flex;
    justify-content: space-between;

    .mir-access-logo {
      width: 6.5rem;
      height: 2.5rem;
      background: url("../images/mir-accept-logo.png") center no-repeat;
    }

    .visa-verification-logo {
      width: 6.5rem;
      height: 2.5rem;
      background: url("../images//visa-verification-logo.png") center no-repeat;
    }

    .mastercard-id-check-logo {
      width: 6.5rem;
      height: 2.5rem;
      background: url("../images/mastercard-id-check-logo.png") center no-repeat;
    }
  }

  .footer-bottom-wrapper {
    width: 100%;
    margin-top: 2rem;

    .footer-bottom {
      width: 950px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .body3 {
        margin-top: 0;
        margin-left: 2rem;
        width: 33%;
      }
    }
  }
}
