.home-container-wrapper {
  width: 100%;
  min-height: 150vh;

  .first-container-wrapper {
    width: 100%;
    height: 73.8vh;
    background: url("../images//home-background-1.png") center no-repeat;
    display: flex;
    position: relative;

    .container-inner {
      padding: 10rem 0 0 15rem;
    }

    h1 {
      text-transform: uppercase;
    }

    p {
      width: 30rem;
    }

    .buttons-container {
      width: 22.5rem;
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      .btn {
        padding: 0 1rem 0 1rem;
      }
    }

    .images-wrapper {
      display: flex;
      margin-top: 4rem;

      .girl-image {
        margin-top: 5rem;
        width: 22rem;
        height: 27rem;
        background: url("../images/home-girl.png") center no-repeat;
        background-size: cover;
      }

      .boy-image {
        width: 23rem;
        height: 17.5rem;
        background-color: wheat;
        background: url("../images/home-boy.png") no-repeat;
        background-size: cover;
      }
    }
  }

  .how-works-service-container-wrapper {
    padding: 15rem;
    width: 100%;
    height: 90vh;
    background-color: $hero-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      text-transform: uppercase;
      width: 3rem;
    }

    .service-steps-wrapper {
      .step-item {
        display: flex;
        align-items: center;
        opacity: 0.45;
        margin-top: 2rem;

        div {
          margin-left: 2rem;
          .body3 {
            margin-top: 1rem;
            width: 11rem;
          }
        }
      }

      .step-item:hover {
        opacity: 1;
      }
    }
  }

  .categories-container-wrapper {
    width: 100%;
    height: 100vh;
    background-color: $hero-color;
    border-radius: 0 0 5rem 5rem;
  }
}
