.personal-card {
    display: flex;
    flex-direction: column;
    width: 407px;
    height: 368px;
    
    border-radius: 16px;
    padding: 32px;
    
    .person-info {
        display: flex;
        justify-content: space-between;
        align-items: top;
        .avatar {
            width: 86px;
            height: 86px;
            border-radius: 32px;
        }
        .person-bio {
            margin-top: 5px;
            >.body {
                margin-top: 10px;
                span {
                    margin-left: 4px;
                }
                img {
                    width: 15px;
                    height: 15px;
                }
            }
            .body:last-child {
                margin-top: 8px;
            }
        }
    }
    .person-bio-article {
        margin-top: 25px;
    }
    .person-profile-button {
        display: flex;
        justify-content: center;
        margin-top: auto;
        button {
            width: 343px;
            height: 50px;
        }
    }
}

.personal-card.gray {
        background-color: RGB(239, 239, 239)
}
.personal-card.purple {
    background-color: $light-purple;
}
