.popular-questions-container-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.interrogative-purple {
    position: absolute;
    top: 0%;
    right: 0;
}

.interrogative-green {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.popular-questions-header {
    margin: 80px 0;
    text-transform: uppercase;
}

.questions-wrapper {
    overflow: auto;
    min-height: 850px;
}

.question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-close-icon {
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-item {
    display: flex;
    flex-direction: column;
    max-height: 108px;
    height: 100%;
    overflow: hidden;
    padding: 26px 0;
    border-bottom: 1px solid gray;
    transition: max-height 340ms ease-in-out;
    position: relative;
    &:first-child{
      border-top: 1px solid gray;
    }
    > p {
        transform: translate(0, 200%);
        opacity: 0;
        transition: transform 240ms ease-in-out 120ms,
        opacity 240ms ease-in-out 120ms;
        position: absolute;
        left: 0;
        top: 88px;
        width: 90%;
    }
    &.active {
      max-height: 198px;
        > p {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}
