.selectedTask-container-wrapper {
  margin-top: 130px;
  margin-bottom: 103px;
}

.selectedTask-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.task-info-wrapper {
  display: flex;
  margin-top: 32px;
  margin-bottom: 50px;

  p {
    padding: 0 12px;
  }
  p:last-child {
    border: none;
  }
  p:first-child {
    color: $purple;
    padding-left: 0;
  }
  p {
    border-right: 1px solid $black;
  }
}

.orderer-info {
  margin-top: 24px;
  display: flex;
}

.personal-info-wrapper {
  padding: 10px 0;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personal-info {
  margin-top: 12px;
}
