.support-container-wrapper {
  padding: 157px 0;
  .support-container-header {
    display: flex;
    justify-content: space-between;
  }

  .description {
    margin-top: 39px;
  }
  .inputs-group {
    margin-top: 53px;

    .input {
      height: 52px;
      margin-top: 24px;
    }

    div {
      margin-top: 32px;
      min-height: 52px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .problem-description {
        height: 104px;
        margin-top: 1rem;
      }

      label {
        cursor: pointer;
      }

      textarea {
        padding-top: 16px;
        padding-left: 24px;
        width: 511px;
      }

      textarea::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }

  .checkbox-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    p {
      margin-left: 15px;
    }
  }

  .send-button {
    width: 150px;
    height: 50px;
    margin-top: 60px;
  }
}

.support-logo {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 200px;
  height: 130px;
  background: url("../images/support-page-photo.png") center no-repeat;
}
