$blue: #0fe0e0;
$light-blue: #59ffff;
$dark-blue: #00b3b3;
$black: #000000;
$orange: #ff6b00;
$light-orange: #ffa902;
$dark-orange: #dd7700;
$brown: #d74d00;
$dark-brown: #ac4c07;
$white: #ffffff;
$wheat: #eeeeee;
$yellow: #ffe664;
$dark-gray: #6d6d6d;
$light-gray: #dddddd;
$weak-light-gray: #e3e3e3;
$gray: #00000042;
$pink: #ff7272;
