$black: #000000;
$green: #5dff81;
$purple: #6b59b3;
$dark-purple: #56478f;
$light-purple: #b2aae9;
$dark-slate-purple: #3f356b;
$purple-gradient-1: #bbaaffa6;
$purple-gradient-2: #724fffa6;
$white: #ffffff;
$gray: rgba(0, 0, 0, 0.26);
$light-gray: #c0c0c0;
$dark-gray: #6d6d6d;
$pink: #ff7f7f;
$hero-color: #c0b1ff;

.ReactModalPortal {
  position: relative;
  z-index: 999;
  padding: 32px;
  border-radius: 16px;
}

.page-wrapper {
  width: 100%;
  position: relative;
}

.page {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  position: relative;
  width: 945px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
